*.o
*.elf
*.velf
*.bin
*.vpk
*.sfo
build
.build-wsl2
build-tools/
local_context/
*.VMP
*.vmp
*.SRM
*.srm
*.mcd
*.MCD
tools/build-and-upload-vpk.local.env

# Track reference VMP templates included for SRM->VMP conversions
!samples/vmp-templates/*.VMP
!samples/vmp-templates/*.vmp

# Local context
local_context/
