*.o
*.elf
*.velf
*.bin
*.vpk
*.sfo
build
build-tools/
*.VMP
*.vmp
*.SRM
*.srm
*.mcd
*.MCD

# Track reference VMP templates included for SRM->VMP conversions
!samples/vmp-templates/*.VMP
!samples/vmp-templates/*.vmp
